
import("gWidgets")
import("gWidgetsRGtk2")
import("cairoDevice")
import("mapdata")
import("maps")
import("methods")
import("sqldf")
import("R6")
import("ggplot2")
import("ggmap")
importFrom("PBSmapping", findPolys, as.EventData)
importFrom("cluster", clara)
importFrom("ecodist", distance)
importFrom("marmap", getNOAA.bathy, as.bathy, plot.bathy, palette.bathy)
importFrom("plotrix", color.scale)
importFrom("fields", Tps, Krig, Rad.cov, stationary.cov, predict.Krig)
importFrom("intervals", Intervals, interval_intersection, interval_overlap)
importFrom("sp", spDistsN1, spDists, over, SpatialPoints, spTransform, CRS, coordinates)
importFrom("foreign", read.dbf, write.dbf)
importFrom("RSQLite", SQLite)
importFrom("DBI", dbConnect)
importFrom("gsubfn", fn)
importFrom("AMORE", train, sim, newff)
importFrom("chron", chron, dates, times, days, years, scale_x_chron)
importFrom("maptools", readShapePoly, readShapePoints, SpatialPolygons2PolySet)
importFrom("outliers", outlier)
importFrom("grid", grid.draw, grid.newpage)
importFrom("grDevices", "col2rgb", "dev.off", "extendrange", "jpeg", "rainbow", "rgb")
importFrom("graphics", "abline", "axis", "barplot", "boxplot",
     "contour", "hist", "image", "layout", "legend", "lines",
     "par", "plot", "plot.new", "points", "rect", "text",
     "title", "segments")
importFrom("stats", "median", "predict", "quantile", "xtabs")
importFrom("utils", "browseURL", "packageVersion", "read.csv",
     "read.csv2", "read.table", "write.table")


export(gui_main)

export(gui_vms_db_create)
export(gui_vmsdb_mixsou)
export(gui_vms_db_clean)
export(gui_vms_db_cut)
export(gui_vms_db_intr)
export(gui_vms_db_dep)
export(gui_vms_db_sel)
export(gui_vms_db_stat)
export(gui_vms_save_bat)
export(gui_vms_editraw)
export(gui_vms_view_ping)
export(gui_vms_view_track)
export(gui_vms_view_intrp)
export(gui_vms_viz_adv)
export(saveRawVms)
export(gui_lb_editraw)
export(gui_lb_db_create)
export(gui_lb_db_edit)
export(gui_lb_db_stat)
export(gui_lb_met_edi)
export(gui_lb_met_dis)
export(gui_lb_met_cla)
export(saveRawLogBook)
export(gui_join_lb_vms)
export(gui_dcf_ind)
export(gui_mark_fis_poi)
export(gui_out_grid)
export(gui_vms_met_pred)
export(Assign_Area)

exportClass(vms_File)
exportClass(vms_DB)
exportClass(que_vms_DB)
exportClass(log_File)
exportClass(log_DB)
exportClass(log_Cla)
exportClass(harbCoo)
exportClass(bathymetry)
exportClass(polymap)